<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%c{3}]-[%p] %m%n" />
        </layout>
    </appender>

    <appender name="access" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="file" value="/usr/local/dubbo/user-20880/logs/access/access.log" />
        <param name="append" value="true" />
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/usr/local/dubbo/user-20880/logs/access/access.%d.log.gz" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d:[%p] %m%n" />
        </layout>
    </appender>

    <appender name="user_provider" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/dubbo/user-20880/logs/user/provider.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d:[%p] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="WARN" />
        </filter>
    </appender>

    <appender name="user_provider_error" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/usr/local/dubbo/user-20880/logs/user/provider_error.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="100MB" />
        <param name="MaxBackupIndex" value="1000" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%c{3}]-[%p] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <appender name="dubbo_error" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/usr/local/dubbo/user-20880/logs/dubbo_error.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="100MB" />
        <param name="MaxBackupIndex" value="1000" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%c{3}]-[%p] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <logger name="com.alibaba.dubbo" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dubbo_error" />
    </logger>

    <logger name="com.alibaba.dubbo.user.provider" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="user_provider" />
        <appender-ref ref="user_provider_error" />
    </logger>

    <logger name="access" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="access" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
